<% content_for :scripts do %>
  <script language="javascript" type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script> 
<% end %>

<div id="chart-title" style="width:600px;">
  <center><h2><%= @script_target.name %></h2></center>
</div>
<div id="chart" style="width:600px;height:300px;">
</div> 

<script type="text/javascript"> 
  $(function () {
      var data =
      [{"label":"tb_cep_cidade_endereco_matview","data":[[1301079034000,701443.0],[1301079328000,701443.0],[1301079628000,701443.0],[1301079930000,701443.0],[1301080232000,701443.0],[1301080542000,701443.0],[1301080841000,701443.0],[1301081143000,701443.0],[1301081433000,701443.0],[1301081735000,701443.0],[1301082029000,701443.0],[1301082327000,701443.0],[1301082631000,701443.0],[1301082931000,701443.0],[1301083232000,701443.0],[1301083529000,701443.0],[1301083827000,701443.0]]},{"label":"tb_gfe_nivel_alcada","data":[[1301079034000,690414.0],[1301079328000,690414.0],[1301079628000,690414.0],[1301079930000,690414.0],[1301080232000,690414.0],[1301080542000,690414.0],[1301080841000,690414.0],[1301081143000,690414.0],[1301081433000,690414.0],[1301081735000,690414.0],[1301082029000,690414.0],[1301082327000,690414.0],[1301082631000,690414.0],[1301082931000,690414.0],[1301083232000,690414.0],[1301083529000,690414.0],[1301083827000,690414.0]]},{"label":"tb_cep_endereco","data":[[1301079034000,688329.0],[1301079328000,688329.0],[1301079628000,688329.0],[1301079930000,688329.0],[1301080232000,688329.0],[1301080542000,688329.0],[1301080841000,688329.0],[1301081143000,688329.0],[1301081433000,688329.0],[1301081735000,688329.0],[1301082029000,688329.0],[1301082327000,688329.0],[1301082631000,688329.0],[1301082931000,688329.0],[1301083232000,688329.0],[1301083529000,688329.0],[1301083827000,688329.0]]},{"label":"tb_gct_plano_contas_coo","data":[[1301079034000,364247.0],[1301079328000,364247.0],[1301079628000,364247.0],[1301079930000,364247.0],[1301080232000,364247.0],[1301080542000,364247.0],[1301080841000,364247.0],[1301081143000,364247.0],[1301081433000,364247.0],[1301081735000,364247.0],[1301082029000,364247.0],[1301082327000,364247.0],[1301082631000,364247.0],[1301082931000,364247.0],[1301083232000,364247.0],[1301083529000,364247.0],[1301083827000,364247.0]]},{"label":"tb_gct_conf_oper_conta_contabil","data":[[1301079034000,318690.0],[1301079328000,318690.0],[1301079628000,318690.0],[1301079930000,318690.0],[1301080232000,318690.0],[1301080542000,318690.0],[1301080841000,318690.0],[1301081143000,318690.0],[1301081433000,318690.0],[1301081735000,318690.0],[1301082029000,318690.0],[1301082327000,318690.0],[1301082631000,318690.0],[1301082931000,318690.0],[1301083232000,318690.0],[1301083529000,318690.0],[1301083827000,318690.0]]},{"label":"cgra","data":[[1301079034000,204104.0],[1301079328000,204104.0],[1301079628000,204104.0],[1301079930000,204104.0],[1301080232000,204104.0],[1301080542000,204104.0],[1301080841000,204104.0],[1301081143000,204104.0],[1301081433000,204104.0],[1301081735000,204104.0],[1301082029000,204104.0],[1301082327000,204104.0],[1301082631000,204104.0],[1301082931000,204104.0],[1301083232000,204104.0],[1301083529000,204104.0],[1301083827000,204104.0]]},{"label":"logauditoria","data":[[1301079034000,185051.0],[1301079328000,185051.0],[1301079628000,185051.0],[1301079930000,185051.0],[1301080232000,185051.0],[1301080542000,185051.0],[1301080841000,185051.0],[1301081143000,185051.0],[1301081433000,185051.0],[1301081735000,185051.0],[1301082029000,185051.0],[1301082327000,185051.0],[1301082631000,185051.0],[1301082931000,185051.0],[1301083232000,185051.0],[1301083529000,185051.0],[1301083827000,185051.0]]},{"label":"tb_gco_transitoria","data":[[1301079034000,150248.0],[1301079328000,150248.0],[1301079628000,150248.0],[1301079930000,150248.0],[1301080232000,150248.0],[1301080542000,150248.0],[1301080841000,150248.0],[1301081143000,150248.0],[1301081433000,150248.0],[1301081735000,150248.0],[1301082029000,150248.0],[1301082327000,150248.0],[1301082631000,150248.0],[1301082931000,150248.0],[1301083232000,150248.0],[1301083529000,150248.0],[1301083827000,150248.0]]},{"label":"tb_gct_saldo_contabil","data":[[1301079034000,123743.0],[1301079328000,123743.0],[1301079628000,123743.0],[1301079930000,123743.0],[1301080232000,123743.0],[1301080542000,123743.0],[1301080841000,123743.0],[1301081143000,123743.0],[1301081433000,123743.0],[1301081735000,123743.0],[1301082029000,123743.0],[1301082327000,123743.0],[1301082631000,123743.0],[1301082931000,123743.0],[1301083232000,123743.0],[1301083529000,123743.0],[1301083827000,123743.0]]},{"label":"lanc","data":[[1301079034000,114472.0],[1301079328000,114472.0],[1301079628000,114472.0],[1301079930000,114472.0],[1301080232000,114472.0],[1301080542000,114472.0],[1301080841000,114472.0],[1301081143000,114472.0],[1301081433000,114472.0],[1301081735000,114472.0],[1301082029000,114472.0],[1301082327000,114472.0],[1301082631000,114472.0],[1301082931000,114472.0],[1301083232000,114472.0],[1301083529000,114472.0],[1301083827000,114472.0]]}]   
      
      ;
      var chart = $("#chart");
      var options = {
        xaxis: { 
            mode: "time",
            minTickSize: [5, "minute"]
        },
        series: {
            lines: { show: true },
            points: { show: true }
        }
      }
      
      function fetchData() {
        function onDataReceived(series) {
          data.push(series);
          $.plot(chart, data, options);
        }

        $.ajax({
          url: "<%= chart_path(@script_target, :format => :json) %>",
          method: "GET",
          dataType: 'json',
          success: onDataReceived
          });
      }
      setTimeout(fetchData,100);

      //$.plot(chart, data, options);
});
</script>
