<p id="notice"><%= notice %></p>

<p>
  <h2><%= @collected_datum.script_target.name %></h2>
</p>

It rans on <%= @collected_datum.created_at %> and returns:
<hr>
  <% show_formated_collected_data %>
</p>

<%= link_to 'Back', collected_data_path %>
